.body {
  color: #fff;
}

a {
  color: #794f45;
}

.theme-button {
  background-color: #7a7a7a;
}

.sidebar_link {
  color: #ffffff;
}

.products_name {
  color: #ffffff;
}

.products_button {
  color: #fff;
}